html(ng-app="daikonApp",ng-controller="RootCtrl")
  head
    base(href="/daikon/")
    meta(http-equiv="Content-Type" content="text/html;charset=UTF-8")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css")
    link(rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap-theme.css")
    link(rel="stylesheet",href="bower_components/angular-bootstrap/ui-bootstrap-csp.css")
    link(rel="stylesheet",href="bower_components/angular-tablesort/tablesort.css")
    link(rel="stylesheet",href="bower_components/json-formatter/dist/json-formatter.css")
    link(rel="stylesheet",href="bower_components/angular-loading-bar/build/loading-bar.css")
    link(rel="stylesheet",href="main.css")
    script(src="bower_components/jquery/dist/jquery.js")
    script(src="bower_components/moment/moment.js")
    script(src="bower_components/bootstrap/dist/js/bootstrap.js")
    script(src="bower_components/angular/angular.js")
    script(src="bower_components/angular-route/angular-route.js")
    script(src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js")
    script(src="bower_components/angular-filter/dist/angular-filter.js")
    script(src="bower_components/angular-tablesort/js/angular-tablesort.js")
    script(src="bower_components/json-formatter/dist/json-formatter.js")
    script(src="bower_components/angular-moment/angular-moment.js")
    script(src="bower_components/angular-loading-bar/build/loading-bar.js")
    script(src="bower_components/underscore/underscore.js")
    script(src="scripts/main.js")
    title(ng-bind='title')

  body
    #nav.navbar.navbar-default
      .container-fluid
        a.navbar-brand(href="home") Daikon
        #title.navbar-left.navbar-text(ng-bind='title')
        #action.btn-group.navbar-right
          a.btn.navbar-btn(ng-href="app/list") Apps
          a.btn.navbar-btn(ng-href="instance/list") Instances
          a.btn.navbar-btn(ng-href="server/list") Servers

    #main.container-fluid(ng-view)
