.right { text-align: right; }
table{font-family: monospace;}
body {
    padding-top: 70px;
    padding-bottom: 20px;
}
.navbar {
    margin-bottom: 20px;
}

.pre-reset {
    border: none;
    padding: 0;
    margin: auto;
    background: 0;
}

.progress {
    margin-bottom: 0;
}

.progress-bar span {
    white-space: nowrap;
}

#instance-info .panel-body {
    overflow-x: scroll;
}

#server-info #genernal .panel-body {
    -webkit-column-count: 2;
    column-count: 2;
}

.table-grid {
}
.table-row {
    margin-bottom: 15px;
}
