form.form-horizontal(name="form")
  app-editor(ng-model="data" apps="apps" envs="envs" templates="templates" servers="servers")
  .form-group
    .col-sm-offset-2.col-sm-10
      button.btn.btn-primary(ng-disabled="form.$invalid") Save

