accordion#app-info.row(close-others="false")
  .row.table-row
    #config.col-md-12.table-grid
      accordion-group(heading="Config",panel-class="panel-primary",is-open="true")
        form.form-horizontal(name="form" ng-if="config")
          app-editor(ng-model="config" update-mode="true")
          .form-group
            .col-sm-offset-2.col-sm-10
              button.btn.btn-primary(ng-disabled="form.$invalid" ng-click="saveApp()") Save

  .row.table-row
    #instances.col-md-12.table-grid
      accordion-group(heading="Instance",is-open="true")
        table.table.table-hover.table-bordered(ts-wrapper)
          tr
            th(ts-criteria="id", ts-default) Id
            th(ts-criteria="term") Term
            th(ts-criteria="instance") Instance
            th(ts-criteria="node") Host
          tr(ng-repeat="d in instances", ts-repeat)
            td {{d.id.substr(0,8)}}
            td {{d.term}}
            td
              a(ng-href="instance/{{d.id}}") {{d.instance}}
            td
              a(ng-href="server/{{d.node}}") {{d.node}}

  .row.table-row
    #actions.col-md-12.table-grid
      accordion-group(heading="Actions",is-open="true")
        p
          button.btn.btn-lg.btn-primary(type="button" disabled)
            span.glyphicon.glyphicon-play
            | Deploy
          button.btn.btn-lg.btn-danger(type="button" ng-click="deleteApp()")
            span.glyphicon.glyphicon-remove
            | Delete
          //button.btn.btn-default.btn-lg(type="button") Start
          //button.btn.btn-default.btn-lg(type="button") Stop
          //button.btn.btn-default.btn-lg(type="button") Restart

