table.table.table-hover.table-bordered(ts-wrapper)
  tr
    th(ts-criteria="id") Id
    th(ts-criteria="env+app", ts-default) Env
    th(ts-criteria="app+env") App
    th(ts-criteria="term") Term
    th(ts-criteria="instance") Instance
    th(ts-criteria="node") Host
  tr(ng-repeat="d in apps", ts-repeat)
    td {{d.id.substr(0,8)}}
    td
      a(ng-href="env/{{d.env}}") {{d.env}}
    td
      a(ng-href="app/{{d.env}}/{{d.app}}") {{d.app}}
    td {{d.term}}
    td
      a(ng-href="instance/{{d.id}}") {{d.instance}}
    td
      a(ng-href="server/{{d.node}}") {{d.node}}
