table.table.table-hover.table-bordered(ts-wrapper)
  tr
    th(ts-criteria="id") Id
    th(ts-criteria="raw.Name+host",ts-default) Name
    th(ts-criteria="host+raw.Name") Host
    th(ts-criteria="raw.Config.Image") Image
    th(ts-criteria="raw.State.StartedAt") Started At
    th(ts-criteria="raw.LastSeen") Last Report
  tr(ng-repeat="i in instances", ts-repeat)
    td
      a(ng-href="instance/{{i.id}}") {{i.id.substr(0,8)}}
    td {{i.raw.Name}}
    td
      a(ng-href="server/{{i.host}}") {{i.host}}
    td {{i.raw.Config.Image}}
    td(title="{{i.raw.State.StartedAt | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}")
      span(am-time-ago="i.raw.State.StartedAt")
    td(title="{{i.raw.LastSeen | amDateFormat:'YYYY-MM-DD HH:mm:ss'}}")
      span(am-time-ago="i.raw.LastSeen")
